<html>
  <head>
    <meta charset="utf-8">
    <title>Electric Vehicle Details</title>
  </head>
  <body style="background-color:powderblue;">
    <h3 align="center"><a href='/'>Back to Main Page</a></h3>
    <div style="width:600px;margin:0 auto;padding:20px;border: 5px dotted black;" align="center">
    <h1>Electric Vehicle Details</h1>
    <br/>
    {% if user %}
    <div style="display:inline-flex;">
        <form method="post" action="/edit" style="margin:0 10px">
          <input type="hidden" value= {{ key }} name="key"/>
          <input type="submit" value="Edit" name="button"/>
        </form>
        <form method="post" action="/delete" style="margin:0 10px">
          <input type="hidden" value= {{ key }} name="key"/>
          <input type="submit" value="Delete" name="button"/>
        </form>
        <form method="post" action="/addReview" style="margin:0 10px">
          <input type="hidden" value= {{ key }} name="key"/>
          <input type="submit" value="Add review" name="button"/>
        </form>
      </div>
        <br/>
    {% endif %}
    <p><strong>Name:</strong>  {{ total_query.name }}</p>
    <p><strong>Manufacturer: </strong>{{ total_query.manufacturer }}</p>
    <p><strong>Year: </strong>{{ total_query.year }}</p>
    <p><strong>Battery size: </strong>{{ total_query.battery_size }}</p>
    <p><strong>WLTP range:</strong> {{ total_query.WLTP_range }}</p>
    <p><strong>Cost: </strong>{{ total_query.cost }}</p>
    <p><strong>Power:</strong> {{ total_query.power }}</p>
    <p><strong>Average rating: </strong>{{ avg|round(2) }}</p>
    <h3><em>Reviews</em></h3>
    {% for i in total_query.reviews|reverse %}
    <hr>
    <p>Review: {{ i.review }}</p>
    <p>Rating: {{ i.rating }}</p>
    {% endfor %}
    <hr>
  </div>
  </body>
</html>
